.movie-card {
  margin-left: 30px;
  margin-bottom: 20px;
  max-width: 300px;
  width: 300px;
  background-color: white;
  margin-top: 50px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  height: 550px;
  border: black;
  border-radius: 2px;
}

.image-size {
  width: 300px;
  height: 200px;
}

.movie-details {
  width: 90%;
  height: 300px;
}

.movie-title {
  width: 100%;
  height: 10px;
}
.movie-description {
  text-align: justify;
  font-size: 1rem;
}

.card-footer {
  width: 100%;
  height: 50px;
}

.card-footer-badge {
  font-size: 1rem;
}
